# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Secrets
.env
secret.py

# IDE
.vscode/
.idea/

# Database files
database/bot.db
*.db
*.sqlite
*.sqlite3

# Old requirements
old_requirements.txt


# Logs
*.log

# OS
.DS_Store
Thumbs.db
