aiofiles==24.1.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-types==0.7.0
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.9
choicelib==0.1.5
colorama==0.4.6
frozenlist==1.8.0
idna==3.18
msgspec==0.21.1
multidict==6.7.1
propcache==0.5.2
pydantic==2.13.4
pydantic_core==2.46.4
requests==2.34.2
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
vbml==1.1.post1
vkbottle==4.10.0
vkbottle-types==5.199.99.21
yarl==1.24.2
